/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body,#root{
  width: 100%;
  height: 100%;
  
}

.backgroundImage1{
  background-image: url(./assets/free-photo-of-spices-on-a-spoon-with-a-spoon-in-the-middle.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.backgroundImage2{
  background-image: url(./assets/pexels-photo-8100518.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.backgroundImage3{
  background-image: url(./assets/pexels-photo-7976107.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.backgroundImageContainer{
  display: grid;
  grid-template-columns: auto auto auto;
}
